.App{
    width: 500px;
    padding: 30px;
    margin: 0 auto;
}
.heroTitle{
  font-size: 30px;
  text-align: center;
  background-color: rgb(232, 223, 223);
  border-radius: 5px;
  color: rgb(48, 42, 42);
  margin-bottom: 30px;
}
.title{
    font-size: 20;
    color: rgb(48, 42, 42);
    margin-bottom: 18px;
}